* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1366px;
    height: 100vh;
    overflow: auto;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.light {
    background-color: white;
    color: #111;
}

.dark {
    background-color: #111;
    color: #eee;
}
.theme {
    transition: all 0.8s ease;
}
@media screen and (width<600px) {
    .container {
        padding: 0 20px;
    }
}
